@import '../sass/blocks/header';
@import '../sass/blocks/showcase';
@import '../sass/blocks/nav';

li {
    list-style-type: none;
}
ul {
 margin: 0;
 padding-left: 0;
}

a:active,
a {
  text-decoration: none;
  color:#969696;
  &:hover {
    text-decoration: none;
    color:#FFF;
  }
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    &--showcase {
        max-width: 730px;
    }
}

.wrapper {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    &--black {
        background-color: #000;
    }
    &--gray {
        background-color: #0F0F0F;
    }
    &--showcase {
        background-image: url(../img/first_line.jpg);
    }
}