@import '../sass/blocks/header';
@import '../sass/blocks/nav';
@import '../sass/blocks/showcase';
@import '../sass/blocks/season';
@import '../sass/blocks/buttons';
@import '../sass/blocks/collection';
@import '../sass/blocks/goods';
@import '../sass/blocks/brands';



* {
    transition: .3s;
}

hr {
    margin-bottom: 50px;
    margin-top: 50px;
}

body {
    color:#FFF
}
span {
  color:#969696;
}

a:active, 
a:focus,
a {
    text-decoration: none;
    outline: none;
    color:#969696;
    &:hover {
        text-decoration: none;
        color:#FFF;
    }
}

.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: Playfair Display;
    font-style: normal;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    &--showcase {
        max-width: 730px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &--nav {
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
}

.wrapper {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    &--black {
        background-color: #000;
    }
    &--gray {
        background-color: #0F0F0F;
    }
}