body {
    background-color: #000;
}
li {
    list-style-type: none;
}
ul {
 margin: 0;
 padding-left: 0;
}

a:active,
a {
  text-decoration: none;
  color:#969696;
  &:hover {
    text-decoration: none;
    color:#FFF;
  }
}

.wrapper {
    background-color: #000;
}

.header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 1110px;
    height: 44px;
    margin: 0 auto;
    &__list {
        display: flex;
        align-items: center;
    }
    &__item {
        font-size: 12px;
        color: #969696;
        margin: 14px;
        &--contacts {
            position: relative;
            &::after{
                content: "|";
                position: absolute;
                right: -14px;
            }
            &:last-child::after{
                display: none;
            }
        }
        &--auth {
            margin: 5px;
            position: relative;
            &::after{
                content: "/";
                position: absolute;
                right: -7px;
            }
            &:last-child::after{
                display: none;
            }
        }
    }            
}
.container {
    background-color: #0F0F0F;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 80px;
    width: 1110px;
    margin: 0 auto;
    &__list {
        display: flex;
    }
    &__item {
        height: 100%;
        margin-right: 40px;
        text-transform: uppercase;
        &:last-child{
            margin-right: 0;
        }
        &:hover {
            background-color: #1F1F1F;
        }
    }
}