.btn {
    border: 1px solid #FFFFFF;
    font-size: 18px;
    color: #FFFFFF;
    padding: 12px 28px;
    background: transparent;
    &:hover {
        background: #FFFFFF;
        color: #000;
    }
    &:focus {
        outline: none;
    }
}

.about__btn {
    padding: 10px 20px;
    color: #FFFFFF;
    background: #0F0F0F;
    border: none;
    &:hover {
        background: #FFFFFF;
        color: #000;
    }
    &:focus {
        outline: none;
    }
}