.goods {
    min-height: 1290px;
    &__content {
        display: flex;
        align-items:center;
        flex-direction: column;
        padding: 120px 0 150px 0;
    }
    &__items {
        display: flex;
        padding: 40px 0 40px 0;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 260px;
        height: 400px;
        margin-right: 20px;
        &:last-child {
            margin-right: 0px;
        }
        &--img {
            display: flex;
            justify-content: center;
            align-items:center;
            background-color: #191B1C;
            width: 260px;
            height: 325px;
            margin-bottom: 25px;
        }
        &--title {
            text-decoration-color: #FFF;
        }
    }
}