.goods {
    min-height: 1290px;
    &__content {
        display: flex;
        align-items:center;
        flex-direction: column;
        padding: 120px 0 150px 0;
    }
    &__items {
        display: flex;
        padding: 40px 0 40px 0;
    }
}