.nav {
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 80px;
    margin: 0 auto;
    &__list {
        display: flex;
        align-items: center;
    }
    &__item {
        height: 100%;
        // margin-right: 40px;
        padding: 28px 20px 28px 20px;
        text-transform: uppercase;
        &:hover {
            background-color: #1F1F1F;
            padding: 28px 20px 28px 20px;
        }
    }
}