.showcase {
    background: url(../img/first_line.jpg) no-repeat center;
    height: 810px;
    display: flex;
    align-items: center;
    &__text {
        // margin-top: 80px;
        padding-top: 80px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}